vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 May 2013 01:52:05 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|scriptastic/default.htm
vti_author:SR|pooter\\Fred
vti_modifiedby:SR|SpamHouse\\Fred
vti_timecreated:TR|05 Aug 2011 02:08:39 -0000
vti_cacheddtm:TX|03 May 2013 01:52:05 -0000
vti_filesize:IR|1944
vti_cachedlinkinfo:VX|S|/images/spinner.gif
vti_cachedsvcrellinks:VX|NSUS|file:///images/spinner.gif
