vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2013 02:59:13 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|scriptastic/default.htm
vti_author:SR|pooter\\Fred
vti_modifiedby:SR|SpamHouse\\Fred
vti_timecreated:TR|05 Aug 2011 02:08:39 -0000
vti_nexttolasttimemodified:TR|19 Apr 2013 15:57:01 -0000
vti_cacheddtm:TX|29 Apr 2013 02:59:13 -0000
vti_filesize:IR|5069
